section {
  display: flex;
  align-content: center;
}

section .weather {
  border: 1px solid #ccc;
  flex: 1;
  padding: 10px;
  text-align: center;
}

.weather span {
  font-weight: bold;
}

h1 {
  align-content: center;
}